KEY="youre key" #апи плюч от графаны
HOST="https://your-grafana.example.com" #адрес графаны

DASH_FILE="/srv/grf_bkp/grafana-dashboards-backup/dash.json" # файл с дашбордами
ALERT_FILE="/srv/grf_bkp/grafana-alerts-backup/alert_rules.json" # файл с алертами
DATA_FILE="/srv/grf_bkp/grafana-data-sources-backup/data_sources.json" # файл с источниками данных
CONTACT_FILE="/srv/grf_bkp/grafana-contact-points-sources-backup/contact_points.json" # файл с контакными точками

DASH_DIR="/srv/grf_bkp/grafana-dashboards-backup/"
ALERT_DIR="/srv/grf_bkp/grafana-alerts-backup/"
DATA_DIR="/srv/grf_bkp/grafana-data-sources-backup/"
CONTACT_DIR="/srv/grf_bkp/grafana-contact-points-sources-backup/"

SETCOLOR_SUCCESS="echo -en \\033[1;32m"
SETCOLOR_FAILURE="echo -en \\033[1;31m"
SETCOLOR_NORMAL="echo -en \\033[0;39m"

SETCOLOR_TITLE="echo -en \\033[1;36m" #Fuscia
SETCOLOR_TITLE_GREEN="echo -en \\033[0;32m" #green
SETCOLOR_TITLE_PURPLE="echo -en \\033[0;35m" #purple
SETCOLOR_NUMBERS="echo -en \\033[0;34m" #BLUE

REPO_SSH="git@github.com:Reconn-LLC/Grafana-backup-via-API.git"
REPO_HTTPS="https://github.com/Reconn-LLC/Grafana-backup-via-API.git"